body {
    background-color: #000;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

.header {
    background-color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

.container {
    margin-top: 100px; 
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.logo p {
    font-weight: bold;
}

.search-bar input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #fff; 
    color: #000; 
    outline: none; 
    width: 250px; 
    transition: border-color 0.3s ease; 
}

.search-bar input::placeholder {
    color: #888; 
}

.search-bar input:focus {
    border-color: #007BFF; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

.search-bar button {
    padding: 8px;
    font-size: 14px;
    background-color: white;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 30px;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #0056b3;
}

nav {
    display: flex; 
}

nav ul {
    display: flex; 
    list-style: none; 
    padding: 0; 
    margin: 0; 
}

nav ul li {
    margin-left: 15px; 
}

nav a {
    color: #fff;
    text-decoration: none;
}

.content {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    float: right;
    flex: 1;
    margin-right: 40px;
}

h1 {
    font-size: 4em;
    margin-bottom: 20px;
}

p {
    line-height: 1.5;
}

.image {
    flex: 1;
}

img {
    width: 100%;
    height: auto;
}
