body {
    background-color: #000;
    font-family: sans-serif;
    font-weight: bold;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #fff;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #111;
    position: fixed; 
    top: 0;
    width: 100%; 
    z-index: 1000; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.logo p {
    font-weight: bold;
    margin: 0;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 40px;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.container {
    margin-top: 100px; 
}


.blocks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}

.block {
    background-color: #fff;
    color: #000;
    max-width: 300px;   
    height: auto;  
    display: flex;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 10px 10px 0px #333;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;  
    box-shadow: 
        0 0 10px #ffffff, 
        0 0 20px #ffffff, 
        0 0 40px #ffffff, 
        0 0 80px #ffffff; 
    border: 2px solid #ffffff; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    flex: 1 1 calc(33.33% - 40px);
}

.printer-icon {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.printer-icon img {
    width: 80px;
    height: auto;
}
