body {
    background-color: #000;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

.header {
    background-color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

.container {
    margin-top: 100px; 
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.logo p {
    font-weight: bold;
}



nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 40px;
}

nav ul li {
    margin-left: 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.maps {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
}

.maps img {
    width: 100%; 
    max-width: 1000px; 
    height: auto; 
}



.navigation {
    text-align: center;
    margin: 20px 0; 
}

.navigation button {
    padding: 20px 40px; 
    font-size: 18px; 
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 8px; 
    cursor: pointer;
}

h4, h5 {
    text-align: center;
    font-size: 20px; 
    margin: 20px 0; 
}

.proceed-button {
    text-align: center;
    margin-top: 30px; 
}

.proceed-button button {
    padding: 20px 40px; 
    font-size: 18px; 
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 8px; 
    cursor: pointer;
}

.location-details {
    text-align: center; 
    margin: 20px auto; 
    padding: 20px; 
    width: 70%; 
    max-width: 500px; 
    background-color: #222; 
    border: 3px solid #007BFF; 
    border-radius: 12px; 
    color: #fff; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6); 
}
