
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
}
.enlarge {
    transition: transform 0.3s ease;
    transform: scale(1.2); 
    color: #2eff8b; 
    cursor: pointer;
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #111;
    position: fixed; 
    top: 0;
    width: 100%; 
    z-index: 1000; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.logo p {
    font-weight: bold;
    margin: 0;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.search-bar input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #fff; 
    color: #000; 
    outline: none; 
    width: 250px; 
    transition: border-color 0.3s ease; 
}

.search-bar input::placeholder {
    color: #888; 
}

.search-bar input:focus {
    border-color: #007BFF; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

.search-bar button {
    padding: 8px;
    font-size: 14px;
    background-color: white;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 1px;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #0056b3;
}

.container {
    margin-top: 100px; 
}

.pricing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    position: relative;
}

.pricing-box {
    background-color: #4d4d4d;
    width: 500px;
    height: 500px;
    transform: rotate(45deg);
    position: absolute;
    z-index: -1;
}

.pricing-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.pricing-item {
    position: relative;
    margin: 20px 0;
}

.pricing-item h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #fff;
}

.pricing-item ul {
    list-style: none;
}

.pricing-item ul li {
    font-size: 20px;
    margin: 5px 0;
}
